{% extends "appPages/base.html" %}
{% block css %}
     <style>
          #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: grey;
        }
     </style>
{% endblock %}
{% block content %}
    <br>
  <div class="container pt-4">
      <div class="row">
          {% for quiz in quizes %}
          <div class="col">
              <div class="card">
                    <div class="card-body" style="width: 200px;">
                        <h5 class="card-title">{{ quiz.name }}</h5>
                        <h6 class="card-text">Duration: {{ quiz.time }}min</h6>
                     </div>
                  <div class="card-footer">
                      <button class="btn btn-primary" id="start-button">
                          <a class="text-light" href="certificate_test/{{ quiz.pk }}/">Start Quiz</a></button>
                  </div>
         </div>
      </div>
        {% endfor %}
      </div>
  </div>
 <hr>
{% endblock %}