{% extends "appPages/base.html" %}

{% block css %}
        <style>

div {
    display:table;/* shrinks to fit content */
    margin:auto;
}

 p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 {
      background-color: #4d4d4f; /* Green */
      color: #ffffff;
    }
    .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
    }
    .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
    }
    .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
     #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: grey;
        }

.card-img-top{
    width: 30%;
    height: 30%;
}

.card{
    flex-direction: row;
}
    </style>
{% endblock %}

{% block content %}

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">What is Ai4Fun?</h3>
  <h3>AI4Fun is an open source educational software for anyone who wants to learn, test themselves and gain a certificate.</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What is AI?</h3>
  <p>Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision. </p>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Where To Start</h3><br>
 <div class="container pt-4">
      <div class="row">
          {% for course in courses %}
          <div class="col">
              <div class="card">
                    <div class="card-body" style="width: 200px;">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <h5 class="text">Topic:{{ course.topic }}</h5>
                        <h6 class="card-text">Difficulty: {{ course.difficulty }}</h6>
                     </div>
                  <div class="card-footer">
                      <button class="btn btn-primary" id="start-button">
                          <a class="text-light" href="courses/{{ course.pk }}">Start Course</a></button>
                  </div>
         </div>
      </div>
      <hr>
        {% endfor %}
      </div>
  </div>
</div>
<hr>

{% endblock %}