<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

div {
    display:table;/* shrinks to fit content */
    margin:auto;
}

 p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 {
      background-color: #4d4d4f; /* Green */
      color: #ffffff;
    }
    .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
    }
    .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
    }
    .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    </style>
</head>
<body>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <a class="navbar-brand text-white" href="home">Ai4Fun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg text-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/courses">Courses<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/tests">Tests</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="/certificate_test">Get Certified<span class="sr-only">(current)</span></a>
      </li>
    </ul>
        {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signout" class="text-white"> Log Out</a></li>
    </ul>
      {% else %}
            <ul class="nav navbar-nav navbar-right">
      <li><a href="/signin" class="text-white"> Sing in</a></li>
    </ul>
            {% endif %}
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">What is Ai4Fun?</h3>
  <h3>AI4Fun is an open source educational software for anyone who wants to learn, test themselves and gain a certificate.</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What is AI?</h3>
  <p>Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision. </p>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Where To Start</h3><br>
 <div class="container pt-4">
      <div class="row">
          {% for course in courses %}
          <div class="col">
              <div class="card">
                    <div class="card-body" style="width: 200px;">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <h5 class="text">Topic:{{ course.topic }}</h5>
                        <h6 class="card-text">Difficulty: {{ course.difficulty }}</h6>
                     </div>
                  <div class="card-footer">
                      <button class="btn btn-primary" id="start-button">
                          <a class="text-light" href="courses/{{ course.pk }}">Start Course</a></button>
                  </div>
         </div>
      </div>
      <hr>
        {% endfor %}
      </div>
  </div>
</div>
<hr>
</body>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> Made by Andrej Mishevski for a school project. </p>
</footer>

</html>