{% extends "appPages/base.html" %}

{% block content %}
      <div class="container-fluid text-center">
      <div class="row content">
          <div class="col-0 col-sm-2 sidenav">
             <h3>Related courses:</h3>
            <p><a href="/courses/1">Course 1</a></p>
            <p><a href="/courses/2">Course 2</a></p>
            <p><a href="/courses/3">Course 3</a></p>
    </div>
          <div class="col-1 col-sm-8 text-left">
              <h1> {{ obj.name }} </h1>
              <h5>{{ obj.topic }}</h5>
              <h5>{{ obj.text }}</h5>
  <hr>
<code>{{ obj.code}}</code>
              <h5>{{ obj.text }}</h5>
              <h5>{{ obj.text }}</h5>
              <h5>{{ obj.text }}</h5>
          </div>
      </div>
  </div>
<br>
<hr>
{% endblock %}