{% extends "appPages/base.html" %}
{% block css %}
     <style>
          #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: grey;
        }
     </style>
{% endblock %}

{% block content %}
      <div class="container-fluid text-center">
      <div class="row content">
          <div class="col-0 col-sm-2 sidenav">
             <h3>Related courses:</h3>
              {% for course in courses %}
                   <p class=""><a href="/courses/{{ course.pk}}">{{ course.name }}</a></p>
              {% endfor %}
    </div>
          <div class="col-1 col-sm-8 text-left">
              <h1> {{ obj.name }} </h1>
              <h5>{{ obj.topic }}</h5>
              <h5>{{ obj.text }}</h5>
  <hr>
<code>{{ obj.code}}</code>
              <h5>{{ obj.text }}</h5>
              <h5>{{ obj.text }}</h5>
              <h5>{{ obj.text }}</h5>
          </div>
      </div>
  </div>
<br>
<hr>
{% endblock %}